body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-image: url(./img/wall.png);
    padding: 20px;
    text-align: center;
    color: black;
    font-size: 2.5rem;
    font-family: "Edu TAS Beginner", cursive;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: italic;
}

main {
    background-image: url(./img/cork.png);
    height: 60rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.polaroid {
    background-color: white;
    border: 10px solid #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 320px;
    text-align: center;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease;
    height: fit-content;
}

.polaroid:hover {
    transform: translateY(-10px);
}

.polaroid img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.caption {
    display: block;
    color: black;
    padding: 10px;
    font-size: 1rem;
    font-family: "Sometype Mono", monospace;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}


.polaroid-over img {
    max-width: 90%;
    max-height: 80%;
}


.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #fff;
    border: none;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    z-index: 1001;
}
